@import url(normalize.css);
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.1s ease-in; }

html {
  height: 100%; }

body, html {
  min-height: 100%; }

.ba-container, .ba-header .ba-container, .ba-about .ba-container, .ba-services .ba-container, .ba-doing .ba-container, .ba-flex-container .ba-container, .ba-contact .ba-container, .ba-footer .ba-container {
  max-width: 910px;
  margin: 0 auto; }

.ba-font, .ba-container--hero .ba-header__title, .ba-container--hero .ba-header__text, .ba-box__title__text, .ba-doing .ba-box__title-item, .ba-doing .ba-box__text, .ba-flex-container .ba-flex-item__content, .ba-contact .ba-box__text {
  color: #3c3c3c;
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700; }

/*Header section*/
.ba-header {
  background: #a7b3c7 url("../assets/hero-bg.jpg") 50% no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  min-height: 1072px;
  padding-top: 285px;
  padding-bottom: 115px; }

.ba-container--hero {
  max-width: 600px;
  margin: 0 auto; }
  .ba-container--hero .ba-logo {
    display: block;
    margin-bottom: 96px; }
    .ba-container--hero .ba-logo .ba-logo__img:hover {
      transform: scale(1.05); }
  .ba-container--hero .ba-header__title {
    max-width: 600px;
    color: #ffffff;
    font-size: 54px;
    text-transform: uppercase;
    margin: 0 auto;
    letter-spacing: 0.16em;
    margin-bottom: 53px; }
  .ba-container--hero .ba-header__text {
    max-width: 579px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin: 0 auto;
    margin-bottom: 245px; }
  .ba-container--hero .ba-header__scroll:hover {
    transform: scale(1.05); }

/*About section*/
.ba-about {
  min-height: 630px;
  padding: 160px 0; }

.ba-box {
  margin: 0 auto;
  border: 2px solid #3c3c3c;
  border-width: 0 2px 2px;
  padding: 70px 170px 23px;
  text-align: center;
  position: relative; }
  .ba-box__title {
    font-size: 34px;
    text-transform: uppercase;
    position: absolute;
    left: 28%;
    top: 0;
    margin: 0;
    text-align: center;
    width: 42%;
    transform: translateY(-50%); }
    .ba-box__title__text {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px; }

.ba-box__text--margin {
  margin: 0 auto;
  max-width: 460px;
  text-align: center; }

.ba-box:before,
.ba-box:after {
  display: block;
  content: '';
  position: absolute;
  height: 2px;
  background: #3c3c3c;
  width: 22%;
  top: 0; }

.ba-box:before {
  left: 0; }

.ba-box:after {
  right: 0; }

/*Services section*/
.ba-services {
  color: #ffffff;
  background: #a7b3c7 url("../assets/services.jpg") 50% no-repeat;
  background-size: cover;
  padding: 128px 0 109px 0; }
  .ba-services .ba-box {
    border-color: #ffffff; }
  .ba-services .ba-box:before,
  .ba-services .ba-box:after {
    background: #ffffff; }

/*Doing section*/
.ba-doing {
  padding: 120px 0; }
  .ba-doing .ba-box__img {
    margin: 110px 0 40px 0; }
  .ba-doing .ba-box__title-item {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .ba-doing .ba-box__text {
    max-width: 545px;
    font-weight: 300;
    line-height: 26px; }

/*Works section*/
.ba-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -10px; }
  .ba-flex-container .ba-flex-item {
    width: 15%;
    min-width: 350px;
    height: 237px;
    margin: 0 0 10px 10px;
    flex-grow: 1;
    position: relative;
    padding: 170px 30px 0; }
    .ba-flex-container .ba-flex-item:first-child {
      background: #6f90b8 url("../assets/topworkz.jpg") 50% no-repeat;
      background-size: cover; }
    .ba-flex-container .ba-flex-item:nth-child(2) {
      background: #99a5b4 url("../assets/join.jpg") 50% no-repeat;
      background-size: cover;
      width: 600px; }
    .ba-flex-container .ba-flex-item:nth-child(3) {
      background: #7d8698 url("../assets/market.jpg") 50% no-repeat;
      background-size: cover; }
    .ba-flex-container .ba-flex-item:nth-child(4) {
      background: #6f90b8 url("../assets/worktop.png") 50% no-repeat;
      background-size: cover; }
    .ba-flex-container .ba-flex-item:nth-child(5) {
      background: #99a5b4 url("../assets/label.jpg") 50% no-repeat;
      background-size: cover;
      width: 600px; }
    .ba-flex-container .ba-flex-item:last-child {
      background: #99a4b4 url("../assets/kyiv.jpg") 50% no-repeat;
      background-size: cover; }
    .ba-flex-container .ba-flex-item:hover {
      background-color: #aeb8ce;
      background-blend-mode: multiply; }
    .ba-flex-container .ba-flex-item__content {
      color: #ffffff;
      font-size: 26px;
      text-transform: uppercase; }

/*Contact Section*/
.ba-contact {
  padding: 138px 0 15px 0; }
  .ba-contact .ba-box__text {
    margin-top: 0;
    margin-bottom: 42px;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px; }
  .ba-contact .ba-box__button {
    width: 70%;
    height: 58px;
    border: 2px solid #3c3c3c;
    background-color: #3c3c3c;
    color: #ffffff;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase; }
    .ba-contact .ba-box__button:hover {
      background-color: #ffffff;
      color: #3c3c3c; }

/*Footer section*/
.ba-footer {
  padding: 70px 0 50px 0; }

.ba-footer-content {
  margin: 0 auto;
  text-align: center; }
  .ba-footer-content__text {
    display: inline-block;
    margin: 0 35px 25px 35px;
    vertical-align: middle; }
  .ba-footer-content a {
    text-decoration: none; }
